body	{
			background-color: lightblue;
			margin:0px;
		
		}

header	{ 	
			background-color: red;
			border-color:Blue;
			height:70px;
			margin:0px;
			
		}
		
header h1	{
				margin:0px;
				color:yellow;
			}