a{
	color:#707070;
}

h3{
	font-family: 'Girassol', cursive;
}
.recipe-list{
	display:flex;
	flex-direction:column;
}
.recipe-list a{
	text-decoration:none;
}
.recipe-item{
	border-top:2px solid #e7e6e6;
	padding:15px;
	height:130px;
	display:flex;
	flex-direction:row;
}
.recipe-img{
	flex:30%;
}
.recipe-img img{
	width:100%;
	height:100%;
	object-fit:cover;
	box-sizing:border-box;
}

.recipe-description{
	margin-left:20px;
	flex:70%;
	display:flex;
	flex-direction:column;
}

.recipe-description .title{
	font-family: 'Lato', sans-serif;
	font-size:30px;
	font-weight:500;
}

.recipe-description .category{
	font-family: 'Lato', sans-serif;
	font-weight:400;
}

.recipe-description .difficulty, .recipe-description .time{
	font-family: 'Oswald', sans-serif;
	font-weight:100;
	font-size:10px; 
	line-height:15px;
}

.fa-clock, .fa-star, .fa-star-half-alt{
	color:#B31818;
}


.followUs{
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
	font-weight:800;
}

.icons{
	display:flex;
	justify-content:center;
	margin: 2% auto;
}
.icons ul{
	padding: 0;
}
.icons ul li{
	display: inline-block;
	width: 50px;
	height: 50px;
	background-color: #eee;
	margin: auto 10px;
	box-shadow:3px 3px 10px #707070;
	text-align: center;
	line-height: 55px;
	font-size: 30px;
	color: #B31818;
	cursor: pointer;
	transition:.5s;
	border-radius:5px;
}

.icons ul li:nth-child(1):hover{
	color:#eee;
	border-radius:50%;
	background-color: blue;
}

.icons ul li:nth-child(2):hover{
	color:#eee;
	border-radius:50%;
	background-color: #c13584;
}

.icons ul li:nth-child(3):hover{
	color:#eee;
	border-radius:50%;
	background-color: #00acee;
}

.icons ul li:nth-child(4):hover{
	color:#eee;
	border-radius:50%;
	background-color: black;
}

.portfolio{
	line-height:90px;
	text-align:center;
	font-family: 'Stardos Stencil', cursive;
	font-size: 40px;
	font-weight: 900;
}

.fa-copyright{
	font-size: 10px;
	
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {


}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
header{
	background-color:#B31818;
	height:50px;
}

nav{
	position:absolute;
	width:100%;
	background-color:#B31818;
}

nav .title{
	margin-left:2.5%;
}

}